body{
    margin:0px;
    padding:0px;
    background-color: black;
   
}

#nav {
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:center;
    background:rgba(255, 255, 0, 0.836);
    padding: 10px;
    margin: 0px;
    font-family: Courier New, Courier, monospace;
    font-size: 16pt;
    
}

#nav li a {
    display:block;
    padding:10px 22px;
    color:black;
    text-decoration:none;
    border: 2px solid transparent;
}

#nav li a:hover {
   border-color: black;
  
}

.table-style{
    background-color: white;
    width: 50%;
    height: 50%;
}

.box-content{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.button-view-p{
    list-style: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.content-informations{
    width: 25%;
    height: 25%;
    
}

@keyframes fx-planet{
    from{
        background-position-x: 0;
    }
    to{
        background-position-x: 360px;
    }
}

.planet{
    background-color: rgba(90, 117, 59, 0.897);
    width: 120px;
    height: 120px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.planet span.radius{
 height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.6;
}

.planet span.texture{
    width: 360px;
    height: 100%;
    display: block;
    opacity: 0.7;
    animation: fx-planet 8s linear infinite;
    position: absolute;
}

.list-planets{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    padding: 1%;
    margin: 2%;
}

.plan-det{
    cursor: pointer;
}



.position-planets{
    width: 100%;
    height: 100%;
}



.font-description{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.font-description  span.graph{
    color: black;
    
}

.graph{
    font-family: Courier New, Courier, monospace!important;
    font-size: 12pt;
    color: black!important;
}

p span.graph{
    color: white!important;
    font-size: 12pt;
    font-family: Courier New, Courier, monospace;
}

#btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2%;
}

.btn-np{
    height: 30px;
    width: 100px;
    font-size: 12pt;
    border: 3px solid rgba(255, 255, 0, 0.836);
    background-color: transparent;
    color:white;
    margin-right: 1%;
    cursor: pointer;
    font-family: Courier New, Courier, monospace;
}

.btn-np:hover{
    cursor: pointer;
    color: black;
    background-color: rgba(255, 255, 0, 0.836);
}

 #btn-ant{
    margin-right: 4%;
}

#btn-ok{
    color: black!important;
    border-color: black;
    background-color: rgba(255, 255, 0, 0.836)!important;
    font-size: 16pt!important;
}

#btn-ok:hover{
    background-color: black!important;
    color: white!important;

}

.modal-plan{
    width: 100%;
}

#modal{
    background-color: black!important;
}

.info-planet-person{
    width: 100%;
    height: 100%;
    color: black!important;
    font-family: Courier New, Courier, monospace;
}

.info-planet-person h2 {
    font-size: 20pt;
}
.info-planet-person span{
    margin-left: 4px;
}

.planet-v{
    display: block;
    float: right;
    height: 100%;
    width: 50%;
}

.modal-ap p {
    width: 100%!important;
    height: 100%!important;
    font-size: 20pt;
    color: black;
    font-family: Courier New, Courier, monospace;
    display: flex;
    justify-content: center;
    scroll-behavior: initial;
    scroll-snap-points-x: initial;
}

